@import "./../../styles/colours";
@import "./../../styles/reset";
@import "./../../styles/components/button";
@import "./../../styles/components/input";

.application {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .input-container,
  .action-container {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .action-container {
    margin-top: 12px;

    button,
    div {
      margin: 12px;
    }

    div {
      color: $white;
    }
  }

  .room-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;

    outline: $white solid 1px;
    outline-offset: -12px;
    padding: 24px;

    .room-item {
      cursor: pointer;
    }
  }
}


