button {
  outline: 0;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  border-radius: 4px;
  box-shadow: $box-shadow;

  &:active {
    box-shadow: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
    box-shadow: none;
  }
}

.btn-main {
  color: $white;
  border-color: $indigo-400;
  background-color: $indigo-400;
}