@import "./../../styles/colours";
@import "./../../styles/reset";
@import "./../../styles/components/button";
@import "./../../styles/components/container";

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
  overflow: hidden;
}